.LoginPageContainer {
  display: flex;
  flex-grow: 1;
  align-content: center;
  background-image: url("../../assets/background-mauve-x.png");
  background-size: contain;
  background-size: 100%;
  background-position: center;
  background-repeat: repeat-y;
  .container-global {
    margin: 3rem 0rem 3rem 0rem;
  }
}
