@import "../../Utils.scss";

.container-information-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1%;
  margin: 2%;
  background-color: $mono-white;
  border-radius: 10px;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);

  .container-global-information {
    .information {
      display: flex;
      flex-direction: row;
    }
  }
}
