@import "../../Utils.scss";
.jobOfferCardContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 300px;
  align-items: flex-start;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
  background-color: $mono-white;
  border: 2px solid transparent;
  @include border;
  &:hover {
    border-color: $primary-color-candidate;
    border: 2px solid inset;
  }
  .jobOfferCardContentTop {
    display: flex;
    flex: 1;
    margin-top: 1rem;
    margin-left: 1rem;

    .jobOfferCardImg {
      width: 30%;
      aspect-ratio: 3/2;
      object-fit: contain;
      height: 100%;
      margin-right: 0.5rem;
      mix-blend-mode: multiply;
    }
    .jobOfferCardTitle {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.5rem;
      font-size: 1rem;

      h3 {
        margin-top: 0.5rem;
        font-size: 1.7rem;
      }
    }
  }
  .jobOfferCardContentMid {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    ul {
      list-style-type: none;
      margin: 1rem;
      li {
        font-size: 1.5rem;
        margin-top: 0.5rem;
        .iconCards {
          color: $primary-color-candidate;
        }
      }
    }
  }
  .jobOfferCardContentBot {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    button {
      font-size: 1.5rem;
      background-color: transparent;
      border: none;
      &:hover {
        color: $secondary-color-candidate;
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .jobOfferCardContainer {
    width: 80%;
  }
}
