@import "../../Utils.scss";

.container-global {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .container-form-login {
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: -1px 1px 5px rgb(97, 25, 89);
    @include border;
    padding: 4rem 3rem 4rem 3rem;

    .h1-title-connexion {
      font-size: clamp(1.5rem, 2.2vw, 2.5rem);
      font-weight: bolder;
      margin-bottom: 2rem;
      color: #611959;
    }

    .label-login {
      display: flex;
      flex-direction: column;
      width: 70%;
    }

    .label-login label {
      font-size: clamp(1rem, 1.4vw, 1.4rem);
      font-weight: normal;
    }

    .label-login input {
      margin-bottom: 2rem;
      border-radius: 5px;
      border: none;
      height: 10px;
      padding: 1rem;
      box-shadow: -1px 1px 3px $primary-color-candidate;
    }
  }

  .container-google-linkedin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 8em;
    background-color: white;
    border: none;
  }

  .btn-google-linkedin {
    background-color: white;
    border: none;
  }

  .btn-google-linkedin img {
    height: 30px;
  }

  .container-text-btnValidate {
    display: flex;
    justify-content: space-between;
    width: 80%;

    .btn-validate-login {
      background-color: #922685;
      color: #f5f5f5;
      padding: 1rem;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      align-content: flex-end;
    }

    .container-btn-validate {
      display: flex;
      flex-direction: column-reverse;
    }

    .forget-account-or-password {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: 450px) {
    .container-form-login {
      width: 100%;
    }
  }

  @media screen and (max-width: 750px) {
    .container-form-login {
      width: 70%;
    }
  }

  @media screen and (max-width: 850px) {
    .container-form-login {
      width: 50%;
    }
  }

  @media screen and (min-width: 1400px) {
    .container-form-login {
      width: 30%;
    }
  }
}

.error-message {
  visibility: hidden;
  opacity: 0;
  background-color: #f44336;
  color: #fff;
  padding: 0.5rem;
  transition: opacity 0.2s, visibility 0s 0.2s;
}

.error-message.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;
}