@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600&display=swap");
@import "../../Utils";

.showMoreBtnContainerEnterprise {
  display: flex;
  width: 100%;
  margin-left: 21.2em;
  
}

.ShowMoreBtnEnterprise {
  text-align: center;
  background-color: $primary-color-enterprise;
  color: $mono-white;
  padding: 0.5em;
  margin-right: 3.2em;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 12em;
  height: 2.4em;
  font-size: text;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
}

.ShowMoreBtnEnterprise:hover {
  background-color: $secondary-color-enterprise;
}

.showMoreBtnContainerDefault {
  display: flex;
  width: 100%;
  margin-left: 21.2em;
  
}

.ShowMoreBtnDefault {
  text-align: center;
  background-color: $primary-color-candidate;
  color: $mono-white;
  padding: 0.5em;
  margin-right: 3.2em;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 12em;
  height: 2.4em;
  font-size: large;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
}

.ShowMoreBtnDefault:hover {
  background-color: #922685;
}