.global-container-privacy-policy {
  text-align: justify;
  width: 90vw;
}
.container-privacy-policy {
  // background-color: aqua;
}
.container-privacy-policy h1 {
  text-align: center;
  color: #611959;
}
.container-privacy-policy h2 {
  text-align: center;
  color: #922685;
}
.container-privacy-policy h3 {
  font-weight: 700;
  color: #b22ea3;
}
.container-privacy-policy ul {
  margin-left: 50px;
}
.container-privacy-policy ul ol {
  margin-left: 50px;
}
