@import "../../Utils.scss";

.our-job-descriptions {
  text-align: justify;
  width: 90vw;
  @include border;
  border-style: dashed;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid $special-color-candidate;border-style: dashed;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid $special-color-candidate;
    p{
      text-indent: 5%;
      font-size: clamp(1rem, 1.4vw, 1.4rem);
      font-weight: normal;
      text-align: justify;
      padding-left: 1.5em;
      padding-right: 1.5em;
          }
    img{
      width: 30%;
      object-fit: cover;
      object-position: center;        
      @include border;
      border: 1px solid $special-color-candidate;
      @include shadow;
           }
        
    li{
      font-size: clamp(1rem, 1.4vw, 1.4rem);
      font-weight: normal;
      text-align: center;
      list-style-type: none;
      padding: 0.2em;
      
    }
    h3{
      color: #b22ea3;
      text-align: center;
      font-size: clamp(1rem, 1.5vw, 1.4rem);
      font-weight: bold;
      
    }
}



.ourJobTitleContainer{
margin-bottom: 2em;
margin-top: 2em;

}
.ourJobMainTitle {
  color: $primary-color-candidate;
  text-align: center;
  font-size: clamp(1.5rem, 2.2vw, 2.5rem);
  font-weight: bolder;

}
.ourJobH2 {
  color: $secondary-color-candidate;
  font-size: clamp(1.25rem, 1.5vw, 1.8rem);
  font-weight: bold;
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: justify;
  margin-bottom: 1em;
  margin-top: 1em;


}

.container-job-description {
  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5em;
    
}
.container-img-list {
   display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
  gap: 2em;
  width: 100%;
  
}


.data-job {
  padding-top: 0.7em;
   width: 30%;
  justify-content: center;
   
}

@media only screen and (max-width: 750px) {
  .our-job-descriptions img {
     display: none;
    }
 .container-job-description{
  display: none;
 
}
}