@import "../../Utils.scss";
.navbar_default {
  border-bottom: solid;
  border-color: $primary-color-candidate;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $mono-white;
  justify-content: center;

  .logo_navbar {
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar_enterprise {
  border-color: $primary-color-enterprise;
  border-bottom: solid;
  height: 7rem;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  justify-content: center;
  flex-direction: row;

  .logo_navbar {
    height: 7rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 700px) {
  .logo_navbar {
    visibility: hidden;
  }
}
