@import "../../Utils.scss";
.navbar_default {
  border-bottom: solid;
  border-color: $primary-color-candidate;
  display: flex;
  flex-direction: row;
  height: 7rem;
  position: sticky;
  top: 0;
  width: 100%;

  .logo_navbar {
    height: 7rem;
    mix-blend-mode: color-burn;
    margin: auto;
  }
}

.navbar_enterprise {
  border-bottom: solid;
  border-color: $primary-color-enterprise;
  display: flex;
  flex-direction: row;

  .logo_navbar {
    height: 7rem;
    mix-blend-mode: color-burn;
    margin: auto;
  }
}
