.PublicLayoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  z-index: -1;
}

// TODO centraliser les couleurs du layout et les choses communes ici avec les balises html
h1 {
}
button {
}
h2 {
}
h3 {
}
h4 {
}
footer {
}
