@import "../../Utils.scss";

.burger_links {
  text-decoration: none;
  color: $mono-white;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 900;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
  &:hover {
    text-decoration-color: $mono-white;
  }
}
.bm-burger-bars-hover {
  opacity: 90% !important;
}
.bm-menu {
  position: fixed;
  top: 0;
  z-index: 999 !important;
  width: 20rem;
}

.bm-menu-wrap {
  position: fixed;
  top: 0;
  z-index: 999 !important;
}
.bm-cross {
  position: fixed !important;
  z-index: 99998 !important;
}
#react-burger-cross-btn {
  position: absolute !important;
  z-index: 99999 !important;
}
