@import "../../Utils.scss";

.container-offer-page {
  display: flex;
  flex-direction: column;
  width: 60%;

  .header-offer-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2% 2% 5% 2%;

    .title-head-offer {
      width: 40%;
    }

    img {
      width: 80%;
    }
  }

  .description-offer-page {
    margin: 0% 4% 2% 4%;
  }
}
