@import "../../Utils.scss";
.container-global-inscription-candidat {
  width: 60%;
  .title-inscription-candidat {
    text-align: center;
    color: #611959;
    margin-bottom: 100px;
  }
  .container-form-inscription-candidat {
    display: flex;
    flex-direction: column;
  }
  .container-global-adresse {
    width: 100%;
    margin-top: 50px;
  }
  .input-a-propos {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .input-a-propos input {
    border-radius: 5px;
    box-shadow: -1px 1px 5px rgb(97, 25, 89);
    border: none;
    padding: 10px;
    margin-top: 15px;
    height: 15px;
    width: 200px;
  }

  .container-adresse input {
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
}
.container-adresse {
  background-color: #922685;
  border-radius: 5px;
  padding: 10px;
  margin: 50px 0px 50px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 70px;
  grid-row-gap: 30px;
}

.identifiant-input-candidat {
  width: 70%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  margin: 50px 0px 50px 0px;
}
.identifiant-input-candidat input {
  padding: 10px;
  width: 230px;
  border: none;
  box-shadow: -1px 1px 5px rgb(97, 25, 89);
  border-radius: 5px;
  margin-bottom: 30px;
}
.input-contract {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}
.input-contract input {
  margin-right: 10px;
  margin-left: 10px;
}
.container-grid-contract {
  background-color: #922685;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.checkbox-input-rgpd {
  display: flex;
  align-items: flex-start;
  width: 70%;
  align-items: flex-start;
  text-align: justify;
}
.checkbox-input-rgpd input {
  margin-right: 10px;
}
.btn-inscription-global {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.btn-inscription {
  background-color: #611959;
  color: #f5f5f5;
  padding: 1em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  align-content: flex-end;
  margin-bottom: 10px;
  width: 150px;
  box-shadow: -1px 1px 5px rgb(97, 25, 89);
}

@media (max-width: 1120px) {
  .identifiant-input-candidat {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (max-width: 1000px) {
  .input-a-propos {
    flex-wrap: wrap;
  }
}
@media (max-width: 985px) {
  .container-adresse {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }

  .checkbox-input-rgpd {
    width: 100%;
  }
}
@media (max-width: 710px) {
  body {
    background-image: none;
  }

  .container-form-inscription-candidat {
    width: 70%;
  }

  .input-a-propos input {
    width: 70%;
    flex-wrap: wrap;
  }

  .container-adresse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    width: 350px;
  }
}
@media (max-width: 610px) {
  .container-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container-adresse {
    grid-template-columns: 1fr;
    /* Changez le nombre de colonnes en une seule */
    grid-template-rows: auto;
    /* Réinitialisez le nombre de lignes */
    grid-column-gap: 0;
    /* Supprimez l'espace entre les colonnes */
    grid-row-gap: 20px;
    width: 95%;
  }

  .checkbox-input-rgpd {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .container-form-inscription-candidat {
    width: 80%;
  }

  .input-a-propos input {
    width: 90%;
    margin-bottom: 8px;
    padding: 15px;
  }

  .container-adresse {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    width: 95%;
  }

  .identifiant-input-candidat {
    display: flex;
    flex-wrap: wrap;
  }

  .identifiant-input-candidat input {
    margin-bottom: 20px;
    padding: 10px;
  }

  .checkbox-input-rgpd {
    width: 100%;
  }

  .checkbox-input {
    flex-wrap: wrap;
  }
}
