@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600&display=swap");

* {
  font-family: "League Spartan", "sans-serif";
  padding: 0;
  margin: 0;
}

$primary-color-candidate: #611959;
$secondary-color-candidate: #922685;
$special-color-candidate: #b22ea3;

$primary-color-enterprise: #3d78b8;
$secondary-color-enterprise: #6697cc;
$special-color-enterprise: #b3cce6;

$mono-black: #141414;
$mono-white: #f5f5f5;

// You have to use dvw for all the text
@mixin title {
  font-size: 4vmax;
  font-weight: 900;
}
@mixin under_title {
  font-size: 3vmax;
  font-weight: 600;
}
@mixin text {
  font-size: 2vmax;
  font-weight: 500;
}

@mixin border {
  border-radius: 0.5rem;
}

@mixin shadow {
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
}
