@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600&display=swap");

* {
  font-family: "League Spartan", "sans-serif";
  padding: 0;
  margin: 0;
  line-height: 1.2;
}
button {
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  font-weight: normal;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
p {
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  font-weight: normal;
}
h1 {
  font-size: clamp(1.5rem, 2.2vw, 2.5rem);
  font-weight: bolder;

  span {
    font-size: clamp(1.5rem, 2.2vw, 2.5rem);
    font-weight: bolder;
  }
}
h2 {
  font-size: clamp(1.25rem, 1.5vw, 1.8rem);
  font-weight: bold;
}
$primary-color-candidate: #611959;
$secondary-color-candidate: #922685;
$special-color-candidate: #b22ea3;

$primary-color-enterprise: #3d78b8;
$secondary-color-enterprise: #6697cc;
$special-color-enterprise: #b3cce6;

$mono-black: #141414;
$mono-white: #f5f5f5;
$antique-white: rgb(253, 249, 243);

//TODO ADD font-size REM
@mixin title {
  font-weight: 900;
}
@mixin under_title {
  font-weight: 600;
}
@mixin text {
  font-weight: 500;
}

@mixin border {
  border-radius: 0.5rem;
}

@mixin shadow {
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
}
