@import "../../Utils.scss";

.card-section-profil {
  display: flex;
  width: 80vw;
  gap: 5vw;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid $special-color-candidate;

  .container-left-profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    h1 {
      font-size: clamp(1.5rem, 2.2vw, 2.5rem);
      font-weight: bolder;
      margin-bottom: 3rem;

      span {
        font-size: clamp(1.5rem, 2.2vw, 2.5rem);
        font-weight: bolder;
        color: $primary-color-candidate;
      }
    }

    .picture-profile {
      width: 10vw;
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
    }

    p {
      font-size: clamp(1rem, 1.4vw, 1.4rem);
      font-weight: normal;
    }
  }

  .container-right-profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;

    h1 {
      font-size: clamp(1.5rem, 2.2vw, 2.5rem);
      font-weight: bolder;
      color: $primary-color-candidate;
      margin-bottom: 1.2rem;
    }

    .container-global-information {
      .name-information {
        h2 {
          font-size: clamp(1.25rem, 1.5vw, 1.8rem);
          font-weight: bold;
          color: $secondary-color-candidate;
          margin-bottom: 1.5rem;
        }
      }

      .information {
        margin-bottom: 1.5rem;

        h2 {
          font-size: clamp(1.25rem, 1.5vw, 1.8rem);
          font-weight: bold;
          margin-bottom: 1rem;
        }

        p {
          font-size: clamp(1rem, 1.4vw, 1.4rem);
          font-weight: normal;
        }
      }
    }
  }
}
