@import "../../Utils.scss";
.cookies-policy {
  text-align: justify;
  margin-left: 150px;
  margin-right: 150px;
}
.cookies-policy h1 {
  color: #611959;
  text-align: center;
}
.cookies-policy h3 {
  color: $special-color-candidate;
}
