@import "../../Utils.scss";
.cookies-policy {
  text-align: justify;
  width: 90vw;
}
.cookies-policy h1 {
  color: #611959;
  text-align: center;
}
.cookies-policy h3 {
  color: $special-color-candidate;
}
