.slider {
  height: 250px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
  .slide-track {
    display: flex;
    width: calc(250px * 16);
    -webkit-animation: scroll 9999s linear infinite;
    animation: scroll 30s linear infinite;
    -webkit-animation: perspective 100%;
    perspective: 100%;
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(calc(-250px * 8));
      transform: translateX(calc(-250px * 8));
    }
  }

  .slide {
    height: 82px;
    width: 500px;
    display: flex;
    align-items: center;
    padding: 10px;
    aspect-ratio: 3/2;
  }
  .img-partner {
    width: 100%;

    .img-partner:hover {
      transform: translateZ(20px);
    }
  }
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 20%;
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
