@import "../../Utils.scss";

//CSS changed for role 'enterprise

.role_enterprise {
  .title-values-mobile {
    color: $secondary-color-enterprise;
  }
  .title-values-desktop {
    color: $primary-color-enterprise;
  }
}

//media query and CSS for MOBILE

.container-values-mobile {
  display: flex;
  flex-direction: column;
}

.image-text-mobile {
  display: flex;
  flex-direction: column;
  padding: 6%;
}

.img-values-mobile {
  margin-bottom: 10%;
  width: 90%;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
}

.title-values-mobile {
  display: flex;
  flex-direction: row;
  gap: 30%;
  color: $secondary-color-candidate;
  margin-bottom: 5%;
}

.icon-react-mobile {
  font-size: 35px;
}

.presentation-text-mobile {
  width: 80%;
  padding: 5%;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
}

//media query and CSS for DESKTOP

.container-values-desktop {
  display: flex;
  flex-direction: column;
}

.image-text-desktop {
  display: flex;
  flex-direction: row;
  margin: 1%;
  height: 32vh;
  gap: 2%;
}

.img-values-desktop {
  width: 26%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
}

.title-values-desktop {
  display: flex;
  flex-direction: row;
  gap: 30%;
  color: $secondary-color-candidate;
  margin-bottom: 5%;
}

.icon-react-desktop {
  font-size: 40px;
}

.presentation-text-desktop {
  width: 20%;
  padding: 3%;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
}

.p-desktop {
  font-size: larger;
}
