 .AjustJobOfferCardAndBtn{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  gap: 1.5em;

 }
  
  

.JobOfferBtn {
  display: flex;
  margin-right: 20em;
  }

.JobOfferContainer{
  height: auto;
  width: 60vw;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  
   gap: 1.5em;
} 
