@import "../../Utils.scss";

.AjustJobOfferCardAndBtn {
  button {
    border-style: dashed;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid $special-color-candidate;
  }

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 90%;

  h1 {
    text-align: center;
    margin-bottom: 2rem;

    span {
      color: $secondary-color-candidate;
    }
  }
}

.JobOfferContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 750px) {
  .AjustJobOfferCardAndBtn {
    width: 100%;
  }
}